html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
}

#root {
  width: 100%;
  height: 100%;
}

.side-area {
  width: 300px;
  height: 100%;
  background: blue;
}

.main-area {
  width: calc(100% - 300px);
  height: 100%;
  position: relative;
}

.header {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  background: #cccccc;
  height: 60px;
}

.main-area .list-area {
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 60px - 30px);
  padding: 20px;
}

.todo-list {
  padding: 0;
  margin: 0;
}

.todo-list__item {
  list-style: none;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 5px;
}

.todo-input-area {
  margin-bottom: 20px;
  overflow: hidden;
}

.todo-input {
  box-sizing: border-box;
  border: 1px splid #666666;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  width: calc(100% - 40px - 40px);
  float: left;
}

input[type=checkbox] {
  margin-right: 20px;
}

.delete-button {
  border: none;
  font-size: 1.2rem;
  float: right;
  cursor: pointer;
  outline: none;
}

.add-button {
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  background-color: #FDC400;
  color: #000000;
  width: 60px;
  height: 40px;
  float: right;
}

.footer {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 30px;
  padding: 10px;
  bottom: 0;
  background: #cccccc;
}
