* {
    padding: 0;
    margin: 0;
    outline: none;
}

html,body {
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

#root {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
}