.main-area {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;
    .list-area {
        box-sizing: border-box;
        width: 100%;
        height: calc(100% - #{$headerHeight});
        padding: 20px;
        background-image: url(../backgroundimage/image5.jpg);
        .todo-list {
            margin: 0;
            padding: 0;
            .todo-list__item {
                list-style: none;
                border:1px solid #cccccc;
                border-radius: 5px;
                padding: 10px 20px;
                margin-bottom: 5px;
                list-style: none;
                background-color: #ffffff; 
                input[type=checkbox] {
                    margin-right: 20px;
                }
                .delete-button {
                    border: none;
                    font-size: 1.2rem;
                    float: right;
                    cursor: pointer;
                    outline: none;
                }
            }
        }
    }
    .todo-input-area {
        margin-bottom: 20px;
        overflow: hidden;

    }
    .todo-input {
        box-sizing: border-box;
        border: 1px splid #666666;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 18px;
        width: calc(100% - 40px - 40px);
        float: left;
    }
    .add-button {
        box-sizing: border-box;
        border: none;
        border-radius: 5px;
        background-color: #FDC400;
        color: #000000;
        width: 60px;
        height: 40px;
        float: right;
    }
}
.main-area-footer {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    padding: 20px;
    width: 100%;
    .add-image-button {
        width: 175px;
        height: 40px;
        border: 1px solod #cccccc;
        border-radius: 5px;
        cursor: pointer;
        background: #FDC400;
        float: right;
        margin-right: 10px;
    }
}